#comment-form {
  height: 130px;
  display: flex;
  margin-bottom: 15px;

  textarea {
    flex: 9;
    border: none;
    border-bottom: solid 1px $light_grey;
    border-right: solid 1px $light_grey;
    background: transparent;
    width: 100%;
    min-height: 130px;
    padding: 10px 0 0 15px;
    margin-bottom: 1px;
    font-size: 1rem;
    line-height: 1.4rem;
    background: $paper;
  }

  .post-comment {
    flex: 3;
    min-height: 130px;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0;
  }
}

.comment-wrapper {
  padding: 20px 5px 0 5px;

  &:after {
    display: block;
    content: '';
    border-bottom: 1px solid #eee;
    height: 0;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
  }

  p { margin-bottom: 0; }

  .vote {
    // TODO: come back to this maybe
    display: inline-block;
    margin-right: 7px;

    i {
      color: $teal;
      font-size: 1.33rem;
      line-height: 1.33rem;
      vertical-align: middle;
    }
  }

  .comment {
    color: $charcoal;
    margin: 10px 0;
  }

  .comment-text {
    padding-left: 35px;
    padding-right: 20px;
  }

  .button {
    background: $teal;

    &:hover {
      background: $mint;
    }
  }

  &#card {
    .button {
      margin-left: 0.5625rem;
      width: 3.699rem;
    }

    .username {
      font-size: 1.1rem;
    }
  }

  .expand-top {
    margin-left: 5px;
    margin-top: 2px;
  }

  .icon-fill {
    font-size: 1.3333rem;
    margin-top: 4px;
  }

  .clickable.flag {
    display: inline-block;
    margin-left: 6px;
    color: $light_grey;
    font-size: 0.75rem;
    line-height: 1rem;

    &:hover {
      color: $grey;
    }
  }
}

.username {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: $default_sans, sans-serif;
  color: $grey;
  margin-right: 7px;
}

.votes {
  display: inline-block;
  margin-right: 5px;
}

.expand-down {
  margin-top: -20px;
  margin-left: -4px;
}
