.comment-component {
  border-bottom: solid 1px $paper_dark;
  margin: 0 10px;
  min-height: 240px;
  overflow: auto;
  padding: 40px 0;
  position: relative;

  &:first-child {
    padding-top: 10px;
  }

  .author {
    font-style: italic;
    font-weight: 700;
  }

  .comment-actions {
    text-transform: uppercase;

    .button {
      float: right;
      margin: 0 0 0 10px;
    }
  }

  .comment-content {
    margin-left: 90px;
  }

  .votes-wrapper {
    left: 0;
    position: absolute;
    width: 90px;
  }
}
