.voting-booth-component {
  margin-top: 33px;

  .vote {
    border-left: solid transparent 15px;
    border-right: solid transparent 15px;
    margin: 0 auto;
    height: 0;
    width: 0;

    &:hover {
      &.up-vote:after {
        border-bottom-color: $purple_dark;
      }

      &.down-vote:after {
        border-top-color: $purple_dark;
      }
    }

    &:after {
      border: solid transparent 14px;
      content: " ";
      cursor: pointer;
      height: 0;
      left: 50%;
      margin-left: -14px;
      position: absolute;
      transition: border-color 300ms ease-out;
      width: 0;
    }

    &.up-vote {
      border-bottom: solid $purple_dark 25px;

      &:after {
        border-bottom: solid $purple 24px;
        top: -13px;
      }
    }

    &.down-vote {
      border-top: solid $purple_dark 25px;

      &:after {
        border-top: solid $purple 24px;
        top: 0;
      }
    }
  }

  .vote-count {
    font-family: $default_serif;
    font-size: 1.778rem;
    margin: 1.25rem 0;
    text-align: center;
  }
}
