.idea
/.bundle
/log/*.log
/log
/tmp
/config/database.secret.yml
/config/facebook.secret.yml
/config/google_analytics.secret.yml
/config/twitter.secret.yml
/config/mandrill.secret.yml
/config/omniauth.secret.yml
/config/secret_token.secret.yml
*\/\.
*\.DS*
.elasticbeanstalk
chalkboard.rb
*\.pem
