<div class="comment">
  <h5 class='username'><%= comment.user.email %></h5>

  <div class="comment-body">
    <%= comment.content %>
  </div>

  <ul class="comment-actions">
    <li>up</li>
    <li>down</li>
    <li>flag</li>
    <li>reply</li>
    <li>share</li>
  </ul>
</div>
