.email-signup-form-component {
  #email-form-submit {
    margin: 0;
    width: 100%;
  }

  .signup-login-toggle {
    font-size: 1.33rem;
    margin: 0;
  }

  .email-form-toggle {
    margin-bottom: 15px;
  }
}
