.comment-component {
  padding: 20px 0 0;
  position: relative;

  &:first-child {
    padding-top: 30px;
  }

  &:last-child {
    padding-bottom: 20px;
  }

  .author {
    font-style: italic;
    font-weight: 700;
    line-height: 50px;
    vertical-align: middle;
  }

  .comment-actions {

    .button {
      float: right;
      margin: 0 0 0 10px;
    }
  }
}
