.ledger-component {
  overflow: hidden;
  padding: 0 10px 15px;

  h1 {
    text-align: center;
    img {
      width: 175px;
    }
  }

  &.form-collapsed {
    margin-bottom: 40px;
  }

  &.form-expanded {
    overflow: hidden;
  }

  &.form-open {
    margin-bottom: 120px;
  }
}
