<div id="container">
<header id="topbar">
<a href="https://posthaven.com/"><div class="posthaven-tab"></div>
</a></header>
<div id="flash">
</div>
<header id="header">
<h1>
<a href="http://blog.samaltman.com">Sam Altman
</a></h1>
<h2>

</h2>
<div id="back_to_blog">
<a href="http://blog.samaltman.com">«&nbsp;Back to blog
</a></div>


</header>
<div id="main_container">
<div id="main">
<article class="post" data-post-id="812358">
<header>
<div class="post-title">
<h2>
<a href="http://blog.samaltman.com/the-software-revolution">The Software Revolution</a>
</h2>
</div>
</header>
<div class="post-body" id="post_body_812358">
<p>In human history, there have been three great technological revolutions
and many smaller ones.&nbsp; The three great
ones are the agricultural revolution, the industrial revolution, and the one we
are now in the middle of—the software revolution. [1]</p>

<p>The great technological revolutions have affected what most
people do every day and how society is structured.&nbsp; The previous one, the industrial revolution, created
lots of jobs because the new technology required huge numbers of humans to run
it.&nbsp; But this is not the normal course of
technology; it was an anomaly in that sense.&nbsp;
And it makes people think, perhaps subconsciously, that technological
revolutions are always good for most people’s personal economic status.</p>

<p>It appears that the software revolution will do what
technology usually does—create wealth but destroy jobs.&nbsp; Of course, we will probably find new things
to do to satisfy limitless human demand.&nbsp;
But we should stop pretending that the software revolution, by itself,
is going to be good for median wages.</p>

<p>Technology provides leverage on ability and luck, and in the
process concentrates wealth and drives inequality.&nbsp; I think that drastic wealth inequality is
likely to be one of the biggest social problems of the next 20 years. [2] We
can—and we will—redistribute wealth, but it still doesn’t solve the real
problem of people needing something fulfilling to do.</p>

<p>Trying to hold on to worthless jobs is a terrible but
popular idea.&nbsp; Trying to find new jobs
for billions of people is a good idea but obviously very hard because whatever
the new jobs are, they will probably be so fundamentally different from
anything that exists today that meaningful planning is almost impossible.&nbsp; But the current strategy—“let’s just pretend
that Travis is kidding when he talks about self-driving cars and that Uber
really is going to create millions of jobs forever”—is not the right answer.</p>

<p>The second major challenge of the software revolution is the
concentration of power in small groups.&nbsp;
This also happens with most technological revolutions, but the last
truly terrifying technology (the atomic bomb) taught us bad lessons in a
similar way to the industrial revolution and job growth.</p>

<p>It is hard to make an atomic bomb not because the knowledge
is restricted (though it is—if I, hypothetically, knew how to make an atomic
bomb, it would be tremendously illegal for me to say anything about it) but
because it takes huge amounts of energy to enrich Uranium.&nbsp; One effectively needs the resources of
nations to do it. [3]</p>

<p>Again, this is not the normal course for technology—it was
an idiosyncrasy of nuclear development.&nbsp;
The software revolution is likely to do what technology usually does,
and make more power available to small groups.</p>

<p>Two of the biggest risks I see emerging from the software
revolution—AI and synthetic biology—may put tremendous capability to cause harm
in the hands of small groups, or even individuals.&nbsp; It is probably already possible to design and
produce a terrible disease in a small lab; development of an AI that could end
human life may only require a few hundred people in an office building anywhere
in the world, with no equipment other than laptops.&nbsp;</p>

<p>The new existential threats won’t require the resources of
nations to produce.&nbsp; A number of things
that used to take the resources of nations—building a rocket, for example—are
now doable by companies, at least partially enabled by software.&nbsp; But a rocket can destroy anything on earth.</p>

<p>What can we do?&nbsp; We
can’t make the knowledge of these things illegal and hope it will work.&nbsp; We can’t try to stop technological progress.</p>

<p>I think the best strategy is to try to legislate sensible
safeguards but work very hard to make sure the edge we get from technology on
the good side is stronger than the edge that bad actors get.&nbsp; If we can synthesize new diseases, maybe we can synthesize vaccines.&nbsp; If we can
make a bad AI, maybe we can make a good AI that stops the bad one.</p>

<p>The current strategy is badly misguided.&nbsp; It’s not going to be like the atomic bomb
this time around, and the sooner we stop pretending otherwise, the better off
we’ll be.&nbsp; The fact that we don’t have
serious efforts underway to combat threats from synthetic biology and AI
development is astonishing.</p>

<p>To be clear, I’m a fan of the software revolution and I feel
fortunate I was born when I was.&nbsp; But I
worry we learned the wrong lessons from recent examples, and these two issues—huge-scale
destruction of jobs, and concentration of huge power—are getting lost.</p><p><br></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>[1] A
lot of the smaller ones have been very important, like the hand axe
(incidentally, the hand axe is the longest-serving piece of technology in human
history), writing, cannons, the internal combustion engine, atomic bombs,
fishing (many people believe that fishing is what allowed us to develop the
brains that we have now), and many more.&nbsp;</p>

<p>[2] It is true that life is better in an absolute sense than
it was a hundred years ago even for very poor people.&nbsp; Most of the stuff that people defending
current levels of wealth inequality say is also true—highly paid people do indeed
make inexpensive services for poor people.</p>

<p>However, ignoring quality of life relative to other people
alive today feels like it ignores what make us human.&nbsp; I think it’s a good thing when some people
make thousands of times as much money as what other people make, but I also
don’t resent paying my taxes and think we should do much more to help people
that are actually poor.&nbsp; The social
safety net will have to trend up with the development of technology.&nbsp;</p>

<p>[3] Or at least, one used to: http://en.wikipedia.org/wiki/Separation_of_isotopes_by_laser_excitation</p>
</div>

<footer class="post-responses" id="post_responses">
</footer>
</article>

</div>
<aside id="sidebar">

<section id="bio">
<h3>
Sam Altman
</h3>

</section>

<section class="post-date">
<div class="display-date">
Posted
<a href="http://blog.samaltman.com/the-software-revolution">2 days
ago
</a><div class="actual-date posthaven-timezone-string" data-posthaven-date-format="MMMM D, YYYY \a\t h:mm A" data-posthaven-date-utc-iso8601="2015-02-16T17:31:32Z">February 16, 2015 at 12:31 PM</div>
</div>
</section>
<section class="stats">
<span class="measure">
views
</span>
</section>

</aside>
</div>
</div>




<div class="pnt-on-image-wrapper" style="display: none;"><div class="pnt-on-image"><div class="pnticn pnticn-logo pnticnlarge"></div><div class="pnt-onimg-text">Point</div></div></div>
