<h1>Home</h1>

            <span class="cnnGryTmeStmp"><span class="cnn_pt_tmstmp_text">21 hours ago</span></span>
        
    <h1 class="cnnBlogContentTitle"><a href="http://politicalticker.blogs.cnn.com/2014/06/27/obama-boehners-lawsuit-is-a-stunt/" rel="bookmark" title="Permanent Link:Obama: Boehner's lawsuit is 'a stunt'">Obama: Boehner's lawsuit is 'a stunt'</a></h1><div class="cnn_mugshot cnn_pksz_mug"></div><div class="cnn_byline">Posted by</div><span class="cnn_author"><a href="http://politicalticker.blogs.cnn.com/tag/cnn-white-house-producer-becky-brittain/" rel="tag">CNN White House Producer Becky Brittain</a></span>   <div class="cnnBlogContentPost">
      <p class="cnn_first"><strong>(CNN)</strong> – President Barack Obama called House Speaker John Boehner's plans to file a lawsuit over the President's use of executive action "a stunt," in an interview with ABC News Chief Anchor George Stephanopoulos.</p>
<p>"You notice that he didn't specifically say what exactly he was objecting to. I'm not going to apologize for trying to do something while they're doing nothing," the President said.</p>
<p><span id="more-303752"></span><a href="http://twitter.com/politicalticker" class="twitter-follow-button" data-show-count="false">Follow @politicalticker</a></p>
<p>"You know, the suit is a stunt. But what I've told Speaker Boehner directly is, 'If you're really concerned about me taking too many executive actions, why don't you try getting something done through Congress?'"</p>
<p>The interview aired on <a href="http://abcnews.go.com/Politics/obama-calls-boehner-lawsuit-threat-stunt/story?id=24320161" target="_blank">ABC's "Good Morning America"</a> Friday morning. It was conducted Thursday during the President's trip to Minneapolis, where Obama held a town hall meeting.</p>
<p>The President touted the accomplishments of his first five years in office but lamented the tone in Washington.</p>
<p>"What I do worry about is that right now we've got a Republican Party that seems to only care about saying no to me." Obama said.</p>
<p><a href="http://politicalticker.blogs.cnn.com/2014/06/27/obamas-day-in-life-offers-opening-to-tout-message-and-slam-republicans/"><strong>Obama’s ‘day in life’ offers opening to tout message and slam Republicans</strong></a></p>
<p>He repeated his frustrations about the immigration reform bill passed a year ago by the Senate that's been stalled in the House, and having to use executive action.</p>
<p>"The majority of American people want to see immigration reform done. We had a bipartisan bill through the Senate, and you're going to squawk if I try to fix some parts of it administratively that are within my authority while you are not doing anything?'" the President added.</p>
<p>Responding to Obama's comments, Boehner spokesman Michael Steel said Friday in a statement that "the American people, their elected representatives, and the Supreme Court have all expressed serious concerns about the President's failure to follow the Constitution. Dismissing them with words like, 'smidgen' or 'stunt' only reinforces their frustration."</p>
<p><a href="http://abcnews.go.com/Politics/obama-calls-boehner-lawsuit-threat-stunt/story?id=24320161" target="_blank">Republicans argue that the Presiden</a>t is breaching his constitutional power by side-stepping the legislative process. Obama has used executive actions as a way to bypass a deeply divided Congress, avoiding inaction on issues the White House has made hallmarks of the President's second term agenda.</p>
<p>So far, the Republican-controlled House has passed two bills aimed at curbing executive orders by the President, neither of which have gone anywhere in the Democratic-controlled Senate.</p>
<p>At this point in his presidency, Obama has issued less executive orders than his most recent two-term predecessors in the White House, George W. Bush, Bill Clinton, and Ronald Reagan.</p>
<p><a href="http://politicalticker.blogs.cnn.com/2014/06/24/boehner-considering-lawsuit-against-obama-over-executive-orders/"><strong>Boehner plans lawsuit against Obama over executive orders</strong><br>
</a><br>
In speaking of immigration during the interview, the President was asked about the thousands of unaccompanied children from Central America coming across the southern border. He implored their parents to not send their kids.</p>
<p>"Our message absolutely is, 'Don't send your children unaccompanied on trains on through a bunch of smugglers.' That is our direct message to the families in Central America. 'Do not send your children to the borders. If they do make it, they'll get sent back. More importantly, they may not make it'," he said.</p>
<p><strong>CNN Senior Congressional Producer Deirdre Walsh contributed to this story</strong></p>
<p><a href="http://politicalticker.blogs.cnn.com/2014/06/23/obama-vows-to-help-working-families/"><strong>Obama recalls own family's struggle with work-life balance in vow to help working families</strong></a></p>
                </div>

          <div class="cnnFBRecBtnBot cnn_tpad15" id="cnnStryRcmndBtnBtm"></div>
    
    <div class="cnnPostFooter cnn_tpad15">
      <table>
        <tbody><tr>
          <td>
            <div class="cnn_mugshot">
                          </div>
          </td>
          <td class="cnn_padb20 cnn_author_info" valign="top">
                                                      <br><span class="cnnBlogFiledBy cnn_categories">Filed under: <a href="http://politicalticker.blogs.cnn.com/category/john-boehner/" rel="category tag">John Boehner</a>&nbsp;•&nbsp;<a href="http://politicalticker.blogs.cnn.com/category/president-obama/" rel="category tag">President Obama</a></span>
                                    </td>
        </tr>
      </tbody></table>
          </div>
