<div class="comment-wrapper">
  <div class="row">
    <div class="small-12 column">
      <div class="votes">
        <img src="/assets/landing_page/upvote_circle_teal.png" width="16">
  <img src="/assets/landing_page/upvote_circle_teal.png" width="16" style="transform: rotate(180deg);margin-left: 2px;">
      </div>

      <p class="username">
        JOliver
      </p>

      <p class="flag clickable">
        <i class="ion-flag"></i>
      </p>
    </div>
  </div>

  <div class="row comment">
    <div class="small-12 column">
      <p>
        Having a fast lane at all, by definition, ‘discriminate[s] against other content’. Allowing big companies to buy their way into the fast lane leaves everyone else in the slow lane. If we let cable companies offer two speeds of service, there wouldn't be a Usain Bolt and a Usain Bolt on a motor bike. They'd be Usain Bolt and Usain Bolt bolted onto an anchor. Recently, Comcast was negotiating with Netflix. <span class="clickable inline">This graph</span> shows Netflix download speeds on various providers.  That black line plummeting downwards was their speed on Comcast during the negotiation. See if you can guess when Netflix agreed to Comcast demands.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <p class="button mini">
        Reply
      </p>
    </div>
  </div>
</div>
