<div id="card" class="comment-wrapper">
  <div class="row ">
    <div class="small-6 column">
      <p class="username">
        JOliver
      </p>
    </div>

    <div class="small-6 column">
      <div class="clickable right">
        expand
        <i class="ion-chevron-down"></i>    
      </div>
    </div>
  </div>

  <div class="comment">
    <p class="comment-text">
      Having a fast lane at all, by definition, ‘discriminate[s] against other content’. Allowing big companies to buy their way into the fast lane leaves everyone else in the slow lane. If we let cable companies offer two speeds of service, there wouldn't be a Usain Bolt and a Usain Bolt on a motor bike. They'd be Usain Bolt and &#8230;
    </p>
  </div>

  <div class="row">
    <div class="small-4 column expand-row">
      <p class="clickable icon-fill">
        <i class="ion-chevron-down"></i>
      </p>
    </div>

    <div class="small-8 column right">
      <p class="button mini">
        Comment
      </p>

      <p class="button mini">
        Reply
      </p>
    </div>
  </div>
</div>
