<header>
  <div class="row">
    <div class="small-3 large-4 column">
      <h2 id="logo">scribble</h2>
    </div>

    <nav class="small-9 large-8 column">
      <ul>
        <li>
          <a href="#">join beta</a>
        </li>

        <li>
          <a href="#how-it-works">how it works</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section id='above-fold'>
  <div class="row" id="title-row">
    <div  class="small-12 column">
      <h1 id='headline'>
        <span class='callout'>Intelligent Discussion</span> 
        Anywhere.
      </h1>

      <h3 class="subheader">
        Embed context into any web page. <span class='callout'>Inline.</span>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="large-8 medium-12 small-12 column">
      <img src="/assets/landing_page/hero_shot.png" id="hero-image">
    </div>


    <div class="large-4 medium-12 small-12 column panel orange-panel">
      <h3 class="cta-header">Tell Me When Scribble Launches</h3>

      <form class="beta-form">
        <div class="row">
          <div class="small-12 medium-7 large-12 column">
            <input type="text" placeholder="email">
          </div>

          <div class="small-12 medium-5 large-12 column">
            <button class="button beta-button">Let Me Know</button>
          </div>
        </div>
      </form>

      <p class="disclaimer">*We hate spam too, and will only email you about the launch.</p>
    </div>
  </div>
</section>

<section class="quote-divider">
  <div class="row">
    <blockquote class="small-12 column">
      <h3>All I know is what I read in the papers, and that's an alibi for my ignorance.</h3>
      <cite>Will Rogers</cite>
    </blockquote>
    </div>
</section>

<section id="how-it-works">
  <div class="row">
    <div class="small-12 column">
      <h2 class="section-header">How it works</h2>
    </div>
  </div>

  <div class="row">
    <ol class="benefit-list small-12 column">
      <li class="benefit row">
        <div class="large-5 small-11 column">
          <p class="caption">
            Add context to any page by highlighting and adding info and sources. Just like writing in the margin of a book, except now others can comment, expand, and answer questions.
          </p>
        </div>

        <div class="large-6 small-11 column">
          <img src="/assets/landing_page/highlight.png">
        </div>
      </li>

      <li class="benefit row">
        <div class="large-5 small-11 column">
          <p class="caption">
            See explanations, counterpoints, and sources by hovering over an existing scribble.
          </p>
        </div>

        <div class="large-6 small-11 column">
          <img src="/assets/landing_page/hover.jpg">
        </div>
      </li>

      <li class="benefit row">
        <div class="large-5 small-11 column">
          <p class="caption">
            Read and participate in intelligent, in-depth discussion of claims by expanding scribbles.
          </p>
        </div>

        <div class="large-6 small-11 column">
          <img src="/assets/landing_page/sidebar_partial.jpg">
        </div>
      </li>

      <li class="benefit row">
        <div class="large-5 small-11 column">
          <p class="caption">
            Vetted by you. Simple voting by the scribble community combined with a few other signals allow content to curate itself, ensuring only quality content rises to the top.
          </p>
        </div>

        <div class="large-6 small-11 column">
          <img src="/assets/landing_page/vetting.jpg">
        </div>
      </li>
    </ol>
  </div>

  <div class="row">
    <div class="large-12 small-12 column panel orange-panel">
      <h3 class="cta-header">Tell Me When Scribble Launches</h3>

      <form class="beta-form">
        <div class="row">
          <div class="small-12 medium-7 large-7 column">
            <input type="text" placeholder="email">
          </div>

          <div class="small-12 medium-5 large-5 column">
            <button class="button beta-button">Let Me Know</button>
          </div>
        </div>
      </form>

      <p class="disclaimer">*We hate spam too, and will only email you about the launch.</p>
    </div>
  </div>
</section>

<footer>
  <div class="row">
    <ul class="small-12 column inline-list">
      <li class="right">
        <a href="/privacy">privacy policy</a>
      </li>

      <li class="right">
        <a href="mailto:hello@scribble.ly">contact</a>
      </li>
    </ul>
  </div>
</footer>
