<header>
  <div class="row">
    <div class="small-12 column">
      <h2 id="logo">scribble</h2>

      <h2 class="hamburger" id="menu-burger">
        <i class="ion-navicon-round"></i>
      </h2>

      <nav id="big-nav">
        <ul>
          <li>
            <a href="#signup" onClick="document.getElementById('signup-input').focus()">join beta</a>
          </li>

          <li>
            <a href="#how-it-works">how it works</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <nav id="baby-nav">
    <ul>
      <li>
        <a href="#signup" onClick="document.getElementById('signup-input').focus()">join beta</a>
      </li>

      <li>
        <a href="#how-it-works">how it works</a>
      </li>
    </ul>
  </nav>
</header>

<section id='above-fold'>
  <div class="row" id="title-row">
    <div  class="small-12 column">
      <h1 id='headline'>
        <span class='callout'>Intelligent Discussion</span> 
        Anywhere.
      </h1>

      <h3 class="subheader">
        Embed context into any web page. <span class='callout'>Inline.</span>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="large-8 medium-12 small-12 column">
      <div id="hero-wrapper">
        <img src="<%= asset_path('landing_page/hero_shot_small.png') %>" id="hero-image">
      </div>
    </div>


    <div id="signup" class="large-4 medium-12 small-12 column panel orange-panel">
      <h3 class="cta-header">Tell Me When Scribble Launches</h3>

      <form class="beta-form" method="post" action="/hello/signup">
        <div class="row">
          <div class="small-12 medium-7 large-12 column">
            <input id="signup-input" name="user[email]" type="text" placeholder="email">
          </div>

          <div class="small-12 medium-5 large-12 column">
            <button class="button beta-button" id="top-signup">Let Me Know</button>
          </div>
        </div>
      </form>

      <p class="disclaimer">*We hate spam too, and will only email you about the launch.</p>
    </div>
  </div>
</section>

<section class="quote-divider">
  <div class="row">
    <blockquote class="small-12 column">
      <h3>All I know is what I read in the papers, and that's an alibi for my ignorance.</h3>
      <cite>Will Rogers</cite>
    </blockquote>
    </div>
</section>

<section id="how-it-works">
  <div class="row">
    <div class="small-12 column">
      <h2 class="section-header">How It Works</h2>
    </div>
  </div>

  <div id="benefit-list">
    <div class="benefit-row row">
      <div class="benefit large-6 medium-6 small-12 column"> 
        <h4 class="how-header">
          <i class="ion-edit"></i> 
          Add Context Inline
        </h4>
        <p class="caption">
          Highlight text, images or video to add info and sources. Just like writing in the margin of a book, except now others can comment, expand, and answer questions.
        </p>
      </div>

      <div class="benefit large-6 medium-6 small-12 column">
        <h4 class="how-header">
          <i class="ion-document"></i>
          Know More
        </h4>
        <p class="caption">
          See explanations, counterpoints, and sources by clicking on an existing scribble.
        </p>
      </div>
    </div>

    <div class="benefit-row row">
      <div class="benefit large-6 medium-6 small-12 column">
        <h4 class="how-header">
          <i class="ion-chatboxes"></i>
          Quality Discourse
        </h4>
        <p class="caption">
          Read and participate in intelligent, in-depth discussion of claims by expanding scribbles.
        </p>
      </div>

      <div class="benefit large-6 medium-6 small-12 column">
        <h4 class="how-header">
          <i class="ion-ios7-people"></i>
          Vetted by You
        </h4>
        <p class="caption">
          Simple voting by the scribble community allows content to curate itself, ensuring the best quality rises to the top.
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 small-12 column panel">
      <h3 class="cta-header">Tell Me When Scribble Launches</h3>

      <form class="beta-form" method="post" action="/hello/signup">
        <div class="row">
          <div class="small-12 medium-7 large-7 column">
            <input type="text" name="user[email]" placeholder="email">
          </div>

          <div class="small-12 medium-5 large-5 column">
            <button class="button beta-button orange">Let Me Know</button>
          </div>
        </div>
      </form>

      <p class="disclaimer">*We hate spam too, and will only email you about the launch.</p>
    </div>
  </div>
</section>

<footer>
  <div class="row">
    <ul class="small-12 column inline-list">
      <li class="right">
        <a href="/privacy">privacy policy</a>
      </li>

      <li class="right">
        <a href="mailto:hello@scribble.ly">contact</a>
      </li>
    </ul>
  </div>
</footer>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(){
    scribble.statics.initLanding()
  });
</script>
