<%
  open_graph(
    url: 'http://scribble.ly',
    title: 'Add Context Anywhere',
    description: 'Highlight text, images or video to view or add info and sources on any web page. Just like writing in the margin of a book, but shared with everyone.'
  )
  page_title('Thanks')
%>

<header>
  <div class="row">
    <div class="small-3 large-4 column">
      <a href="/">
        <h2 id="logo">scribble</h2>
      </a>
    </div>
  </div>
</header>

<section id="thanks-container">
  <div class="row">
    <div class="small-12 column">
      <h1>Thanks, you're in!</h1>

      <h2>Intelligent discussion requires intelligent people. <br><span>Know any?</span></h2>
    </div>
  </div>

  <div class="row share-icons">
    <div class="small-12 column">
      <a href="mailto:" id="email-share">
        <i class="ion-android-mail"></i>
      </a>

      <a href="" id="fb-share">
        <i class="ion-social-facebook"></i>
      </a>

      <a href="https://twitter.com/share?url=http://scribble.ly&text=Add%20comments%20inline%20and%20embed%20context%20into%20any%20web%20page%20with%20Scribble:&via=scribblely&source=webclient" id="twitter-share" target="_blank">
        <i class="ion-social-twitter"></i>
      </a>
    </div>
  </div>
</section>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(){
    scribble.statics.initThanks()
  });
</script>
