<header>
  <div class="row">
    <div class="small-3 large-4 column">
      <a href="/">
        <h2 id="logo">scribble</h2>
      </a>
    </div>
  </div>
</header>

<section id="thanks-container">
  <div class="row">
    <div class="small-12 column">
      <h1>Thanks, you're in!</h1>

      <h2>Intelligent discussion requires intelligent people. <br><span>Know any?</span></h2>
    </div>
  </div>

  <div class="row share-icons">
    <div class="small-12 column">
      <a href="#">
        <i class="ion-android-mail"></i>
      </a>

      <a href="#">
        <i class="ion-social-facebook"></i>
      </a>

      <a href="#">
        <i class="ion-social-twitter"></i>
      </a>

      <div class="share">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://scribble.ly" data-via="scribblely" data-size="large" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
  </div>
</section>
