.comment-component {
  margin-bottom: 20px;
  overflow: auto;

  .header-row {
    height: 40px;
    margin: 0;
  }

  .avatar-wrapper {
    border: solid $purple 2px;
    border-radius: 20px;
    float: left;
    height: 100%;
    margin: 0 10px 0 0;
    width: 40px;
  }

  .author {
    float: left;
    font-style: italic;
    font-weight: 600px;
    line-height: 40px;
    margin: 0;
    vertical-align: middle;
  }

  p {
    margin: 0 0 0 50px;
  }
}
