#flash-component {
  padding: 10px;
  margin-bottom: 15px;
  color: #fff;
  text-align: left;

  &.error {
    background: $red;
  }

  ul {
    list-style: none;
    margin: 0;
    font-size: 0.75rem;
  }
}
