#scribble-modal-container {
  display: none;

  &.active {
    display: block;
  }
}

#scribble-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

#scribble-modal-content {
  position: absolute;
  top: 10%;
  width: 75%;
  left: 12.5%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px $grey;

  #modal-header {
    text-align: center;
    margin-bottom: 30px;

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0;
    }
  }

  button {
    width: 100%;
    vertical-align: middle;

    i {
      font-size: 1.33rem;
    }

    &:last-child {
      margin-bottom: 15px;
    }
  }
}
