<p class="annotation-text"><%= @annotation.text %></p>

<div class="comments-wrapper">
  <% @annotation.comments.order('rating DESC').each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
</div>
