#annotate-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  box-shadow: 0 0 10px #333;

  iframe {
    border: none;
  }
}

#annotate-widget {
  display: none;
  font-size: 16px;
  line-height: 25px;
  vertical-align: middle;
  padding: 0 10px;
  background-color: rgba(0,178,178,0.9);
  color: #333;
  transition: 0.3s;
  box-shadow: 0 0 5px #333;

  &:hover {
    background-color: rgba(255,107,84,0.9);
    color: #111;
    cursor: pointer;
  }
}
