body {
  background: $white;
  overflow-x: hidden;
}

.alert {
  padding: 15px;
  margin: 20px inherit;
  background: $light_grey;
  color: white;

  &.alert-error {
    background: $red;
  }

  &.alert-success {
    background: $mint;
  }
}

.callout {
  color: $teal;
}

.italic {
  font-style: italic;
}

.orange-panel {
  background: $orange;
  border: none;

  h3.cta-header {
    color: #fff;
    font-family: $default_serif;
    line-height: 1.4;
  }

  p {
    color: #fff;
  }
}

.button {
  &.alt-button {
    background: transparent;
    border-color: $light_grey;
    color: $grey;

    &:hover {
      background: $light_grey;
    }
  }

  &.red {
    background: $red;
  }

  &.orange {
    background: $orange;
  }

  &.blue {
    background: $teal;
  }
}

.beta-button {
  width: 100%;
}

.clickable {
  cursor: pointer;
  color: $purple;
  font-family: $default_sans, sans-serif;
  transition: 300ms;

  &:hover, &:hover i {
    color: $purple_dark;
  }
}

.hidden {
  display: none !important;
}
