$grey: #999;
$light-grey: #e2e2e2;
$dark-grey: #555555;
$charcoal: #343434;

$background: #fff;
$background2: rgb(255, 251, 252);

$mint: #3c948b;
$teal: #3CCFC8;
$orange: #f99173;
$red: #e6484e;

$twitter-blue: #00aced;
$twitter-light-blue: #1dcaff;
$fb-blue: #3B5998;
$fb-light-blue: #4C6AA9;

$primary_serif: 'Vollkorn', serif;
$primary_sans: 'Montserrat';

body { overflow-x: hidden; }

.alert {
  padding: 15px;
  margin: 20px inherit;
  background: $light-grey;
  color: white;

  &.alert-error {
    background: $red;
  }

  &.alert-success {
    background: $mint;
  }
}

.callout {
  color: $teal;
}

.italic {
  font-style: italic;
}

.orange-panel {
  background: $orange;
  border: none;

  h3.cta-header {
    color: #fff;
    font-family: $primary_serif;
    line-height: 1.4;
  }

  p {
    color: #fff;
  }
}

.button {
  &.red {
    background: $red;
  }

  &.orange {
    background: $orange;
  }

  &.blue {
    background: $teal;
  }

  &:hover {
    background: $mint;
  }

  &.mini {
    padding: 0.45rem 0.6rem;
    font-size: 0.5625rem;
  }
}

.beta-button {
  width: 100%;
}

.clickable {
  cursor: pointer;
  color: $teal;
  font-family: $primary_sans, sans-serif;
  transition: 300ms;

  &:hover, &:hover i {
    color: $mint;
  }
}
