// colors
$grey: #444;
$paper: #ece6e6;
$paper_dark: #c3bcbc;
$purple: rgb( 150, 78, 155 );
$purple_dark: #5e3161;
$purple_trans: rgba( 150, 78, 155, 0.2 );
$red: #c60f13;
$white: #fff;

$google-red: #D50F25;
$fb-blue: #3B5998;
$fb-light-blue: #4C6AA9;

// fonts
$default_serif: 'Lora', serif;
$default_sans: 'Source Sans Pro';
