// colors
$off_white: #fffdfd;
$paper: #ece6e6;
$paper_dark: #c3bcbc;
$purple: rgb( 150, 78, 155 );
$purple_dark: #5e3161;
$purple_trans: rgba( 150, 78, 155, 0.2 );
$red: #c60f13;
$white: #fff;

$mint: #3c948b;
$orange: #f99173;
$teal: #3CCFC8;

$grey: #444;
$light_grey: #e2e2e2;
$grey_med: #666;
$charcoal: #343434;

$google_red: #D50F25;
$fb_blue: #3B5998;
$fb_light_blue: #4C6AA9;

// fonts
$default_serif: 'Lora', serif;
$default_sans: 'Source Sans Pro';
