#login-form-component {
  text-align: center;

  .fb-login {
    background: $fb-blue;
    &:hover {
      background: $fb-light-blue;
    }
  }

  .google-login {
    background: $google-red;
    &:hover {
      background: $red;
    }
  }

  .signup-login-toggle {
    margin-bottom: 0;
  }

  .email-form-toggle {
    color: $grey;
    font-size: .75rem;
    text-align: center;
    margin-bottom: 30px;

    &:hover {
      color: $charcoal;
    }
  }

  .privacy-policy {
    font-size: 0.56rem;
    color: $grey;
    margin-bottom: 0;
  }

  #email-signup-form {
    margin-bottom: 0;
  }
}
