<!DOCTYPE html>
<html>
<head>
  <title>Scribble - Truth in News</title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Vollkorn:400italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
  <%= stylesheet_link_tag "static", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "static", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <div id="page-wrapper">
 -->  <%= yield %>
<!-- </div> -->

</body>
</html>
